.page_heading
  .page_title Buttons

= section :mixins do
  = row '+button', '$color_theme', 'Specify the color for the button. The built in global scheme color variables are $color_primary, $color-secondary, $color_tertiary, $color_quadrary.'

= section :variables do
  = row '$button_font_weight', 'normal', 'Use this to specify boldness or lack thereof.'
  = row '$button_font_size'  , 'ms(0)' , 'This specifies font size'
  = row '$button_padding'    , 'ms(-1)', 'This specifies spacing around the text in the button.'

= section :examples

.example
  = partial 'codes/html/buttons'

= codes :html, :sass do
  = code :html, :buttons
  = code :sass, :buttons
