.page_heading
  .page_title Buttons

= section :variables do
  = row '$button_font_weight', 'normal', 'button font weight'
  = row '$button_font_size'  , 'ms(0)' , 'button font size'
  = row '$button_padding'    , 'ms(-1)', 'button padding'

= section :mixins do
  = row 'button', '$color_theme', 'button styling'

.example
  = partial 'code/buttons'

.button
  Button
%a.button
  Anchor
%button.button{type: 'button'}
  Button
%input.button{type: 'submit', value: 'Input Submit'}

