.page_heading
  .page_title Forms

= section :variables do
  = row '$form_font_size'         , 'ms(0)', 'form font size'
  = row '$form_padding'           , '6px 7px', 'form padding'
  = row '$form_border'            , '1px solid darken($color_background, 40%)', 'form border'
  = row '$form_selector_font_size', 'ms(-0.5)', 'form selector font size'

= section :mixins do
  = row 'form_field'         , nil, 'styling for the field that wraps the actual field input'
  = row 'form_label'         , nil, 'styling for label'
  = row 'form_text_field'    , nil, 'styling for input text'
  = row 'form_password_field', nil, 'styling for input password'
  = row 'form_checkbox'      , nil, 'styling for input checkbox'
  = row 'form_textarea'      , nil, 'styling for textarea'
  = row 'form_radio_button'  , nil, 'styling for radio button'

= section :examples

.example
  = partial 'codes/html/forms'

= codes :html, :sass do
  = code :html, :forms
  = code :sass, :forms
