.page_heading
  .page_title Tables

= section :variables do
  = row '$table_bg'              , '$color_background'              , 'table background color'
  = row '$table_even_row_bg'     , 'darken($color_background, 10%)' , 'every other row coloured'
  = row '$table_border_style'    , 'solid'                          , 'border style'
  = row '$table_border_size'     , '1px'                            , 'border size'
  = row '$table_border_color'    , 'darken($color_background, 20%)' , 'border color'
  = row '$table_head_bg'         , 'darken($color_background, 20%)' , 'table background color'
  = row '$table_head_font_size'  , 'ms(0)'                          , 'table font size'
  = row '$table_head_font_color' , '$color_text'                    , 'table font color'
  = row '$table_head_font_weight', '700'                            , 'table font weight'
  = row '$table_head_padding'    , 'ms(-2) ms(-2) ms(-1)'           , 'table head padding'
  = row '$table_row_padding'     , 'ms(-2) ms(-1)'                  , 'table row padding'
  = row '$table_row_font_size'   , 'ms(-1)'                         , 'table row font size'
  = row '$table_row_font_color'  , '$color_text'                    , 'table row font color'
  = row '$table_line_height'     , 'ms(1)'                          , 'table line height'
  = row '$table_margin_bottom'   , 'ms(2)'                          , 'table margin bottom'

= section :mixins do
  = row 'table', nil, 'applies default table styling'

= section :examples

= partial 'code/basic_table'
.codes
  .toggle
    .button.active{data:{action:'html'}} HTML
    .button{data:{action:'sass'}} SASS
    .clear
  .clear
  .code.active{data:{action:'html'}}
    %pre.highlight
      %code= h partial('code/basic_table')
  .code{data:{action:'sass'}}
    %pre.highlight
      %code= h partial('code/style_basic_table')
 
