.page_heading
  .page_title Input Groups

= section :variables do
  = row '$something', 'real_good', 'aight aight'

= section :mixins do
  = row 'something', 'real_good', 'aight aight'

= section :examples

.example
  = partial 'codes/html/input_groups'
  .clear

= codes :html, :sass do
  = code :html, :button_dropdown
  = code :sass, :button_dropdown
